.header{
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  width: 100%;
}

.overlay_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100dvw;
  height: 200dvh;
  background-color: rgba(164, 177, 250, 0.445);
}

.header_nav {
  top: -10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  align-items: center;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.95); /* Fundo branco levemente translúcido */
  backdrop-filter: blur(8px); /* Efeito de desfoque estilo iOS/Glassmorphism */
  border-bottom: 1px solid #e2e8f0;
  transition: all 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #0056b3;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  color: #475569;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.link:hover {
  color: #0056b3;
}

.cta {
  padding: 10px 20px;
  background-color: #0056b3;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s;
}
.cta_menu {
  display: none;
}
.cta:hover {
  background-color: #004494;
}

.link {
  color: #475569;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.link:hover {
  color: #0056b3;
}

/* Estado Ativo: Destaque visual */
.linkActive { 
  color: #0056b3;
  font-weight: 700;
  background-color: #eff6ff; /* Fundo azul bem claro */
}
.menu_btn{
  width: 45px;
  display: none;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.menu_icon{
  width: 100%;
}

.menu_btn:hover{
  cursor: pointer;
}
.menu_btn_act{
  display: none;
  background-color: #217ee286;
}
@media (max-width: 760px) {
  .link {
    display: none;
  }
  .menu_btn, .menu_btn_act{
    display: flex;
  }
  .cta {
    display: none;
  }
  .cta_menu {
      display: inline-block;
      padding: 10px 20px;
      background-color: #0056b3;
      color: #fff;
      border-radius: 6px;
      text-decoration: none;
      font-weight: bold;
      font-size: .8em;
  }
}
@media (min-width: 760px) {
  .overlay_menu{
    display: none;
  }

/* Logo NucTI*/
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #0056b3;
  text-decoration: none;
  margin-left: 40px;
}

.logoImage {
  height: 50px;
  width: auto;
  object-fit: contain;
}
}